In [22]:
import pandas as pd 
import numpy as np

In [23]:
df = pd.read_csv("/Users/almarai/Private Projects/Pacify/data/Protocol/PAMAP2_MERGED.csv")

df.head()

,timestamp,activityID,heart_rate,hand_col_1,hand_col_2,hand_col_3,hand_col_4,hand_col_5,hand_col_6,hand_col_7,...,ankle_col_9,ankle_col_10,ankle_col_11,ankle_col_12,ankle_col_13,ankle_col_14,ankle_col_15,ankle_col_16,ankle_col_17,subjectID
0,5.89,0,NaN,33.3125,-9.79760,-1.45670,1.014380,-9.70702,-1.60337,1.32098,...,0.010364,0.010731,-35.4550,38.3829,-17.9083,0.546211,0.370903,0.695334,0.283892,subject108
1,5.90,0,NaN,33.3125,-9.91204,-1.41822,0.974050,-9.78262,-1.60285,1.29085,...,-0.005926,-0.006704,-35.4508,38.2543,-17.7663,0.545806,0.370867,0.695680,0.283872,subject108
2,5.91,0,NaN,33.3125,-9.87531,-1.57027,0.975113,-9.78237,-1.57265,1.29079,...,-0.002265,0.014646,-35.6984,38.2688,-17.0580,0.545484,0.371607,0.695437,0.284117,subject108
3,5.92,0,NaN,33.3125,-9.72175,-1.60870,1.054520,-9.70677,-1.60334,1.35118,...,0.035314,0.010982,-34.9492,38.7447,-17.6233,0.545474,0.372077,0.694859,0.284935,subject108
4,5.93,0,NaN,33.3125,-9.79920,-1.49497,0.975999,-9.58657,-1.57408,1.27549,...,-0.001065,-0.000410,-35.2105,38.8857,-17.9080,0.545810,0.372349,0.694122,0.285732,subject108

In [24]:
df = df[(df["activityID"] != 0)][["activityID", "heart_rate"]]
df.head()

      activityID  heart_rate
6147           1        84.0
6148           1         NaN
6149           1         NaN
6150           1         NaN
6151           1         NaN

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1942872 entries, 6147 to 2863455
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   activityID  int64
 1   heart_rate  float64
dtypes: float64(1), int64(1)
memory usage: 44.5 MB

In [26]:
df.dropna(inplace = True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 177408 entries, 6147 to 2863454
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   activityID  177408 non-null  int64
 1   heart_rate  177408 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 4.1 MB

In [28]:
df.head()

      activityID  heart_rate
6147           1        84.0
6158           1        84.0
6169           1        84.0
6180           1        84.0
6191           1        84.0

Now we create a column for the bpm based on the heart rate. This value will currently be chosen in a random fashion, but the selection of this value will be more advanced in advanced versions.

In [35]:
import random
def map_music_bpm(hr):
    if hr < 90:
        return random.uniform(60, 80)
    elif hr < 120:
        return random.uniform(100, 120)
    elif hr < 150:
        return random.uniform(130, 150)
    else:
        return random.uniform(160, 180)

In [36]:
bpm_values = []

for val in df["heart_rate"]: 
    bpm_val = map_music_bpm(val)
    bpm_values.append(bpm_val)

df["bpm"] = pd.Series(bpm_values)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 177408 entries, 6147 to 2863454
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   activityID  177408 non-null  int64
 1   heart_rate  177408 non-null  float64
 2   bpm         12373 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 5.4 MB